/ Специальность
%p
  %span= Student.human_attribute_name('specialty') << ": "
  %span= data.specialty ? data.specialty.name : t('sessions.profile.not_specified_f')
/ Курс обучения
%p
  %span= Student.human_attribute_name('course') << ": "
  %span= data.course || t('sessions.profile.not_specified_m')