%h1#page-title Комментарии преподавателя

%div#comment-block
  - @comments.each do |comment|
    = render :partial => 'shared/lecturer_comment', :locals => { comment: comment }

- if logged? && logged_user.student?
  %p.button#show-comment-form Добавить комментарий
  = render :partial => 'shared/add_comment', :locals => { lecturer_id: @lecturer_id }

= link_to "На страницу преподавателя", profile_path(Lecturer.find(@lecturer_id).user.login), class: 'button'