- content_for :title, t('.title')

.block.brd
  = block_title t('.title'), "news.png"
  .block-content
    %h3 31.05.2013
    %p Презентация проекта.
    %hr.dashed/

    %h3 28.05.2013
    %p Добавлена поддержка различных языков интерфейса, сайт переведён на украинский и английский. Для изменения языка нажмите на нужный флажок в нижнем левом углу сайта.
    %hr.dashed/

    %h3 26.05.2013
    %p Переработана система отзывов. Кроме всего прочего, на страницах с отзывами теперь отображается диаграмма по критерием оценивания.
    %hr.dashed/

    %h3 15.04.2013
    %p Добавлена возможность оставлять анонимные комментарии. Анонимность гарантирует непредвзятость, так что смело пользуйтесь этой функцией.
    %hr.dashed/

    %h3 30.03.2013
    %p Введена возможность удаления своего аккаунта. При удалении также можно удалить свои отзывы и комментарии к преподавателям.
    %hr.dashed/

    %h3 27.03.2013
    %p Некоторые поправки юзабилити. Теперь пользоваться сайтом намного удобнее.
    %hr.dashed/

    %h3 26.03.2013
    %p Добавлена система личных сообщений. Пользователи всех категорий (студенты, преподаватели, администратор и модераторы) теперь могут отправлять и получать ЛС.
    %hr.dashed/

    %h3 24.03.2013
    %p
      Добавлена трёхуровневая система подтверждения аккаунтов преподавателей:
      %ol
        %li При регистрации преподавателю предоставляется статус «Не подтверждён».
        %li После успешной проверки регистрационных данных модератором статус изменяется на «Подтверждена правильность данных».
        %li После личной встречи с преподавателем — на «Подтверждена личность».