%h1#page-title= t("titles.about")

%ul.square-list
    %li Просмотр своей страницы, включающей оставленные отзывы и комментарии
    %li Возможность ответить на комментарии студентов
    %li Сгенерированные графики на основе отзывов студентов
    %li Указание расписаний для закреплённых дисциплин
    %li Размещение необходимых для обучения материалов