%h1#page-title= t("titles.about")
%p Сервис Feedback++ создан для преподавателей и студентов. Преподаватели от студентов могут получать отзывы за проведенные лекции, комментарии.
%br/
%p Преподаватели на данном ресурсе имеют возможность
%ul
    %li Просмотр своей страницы, включающей оставленные отзывы и комментарии
    %li Возможность ответить на комментарии студентов
    %li Сгенерированные графики на основе отзывов студентов
    %li Указание расписаний для закреплённых дисциплин
    %li Размещение необходимых для обучения материалов
%br/
%p Студенты, в свою очередь, могут
%ul
    %li Оставить отзыв любому преподавателю по конкретной дисциплине
    %li Оставить комментарий (по конкретной дисциплине или преподавателю)
    %li Видеть статистику своих отзывов