%h1#page-title= t('titles.faq')

%h3 Вопрос: Оно уже готово?
%p Нет, лол

%h3 Вопрос: А когда будет готово?
%p Неизвестно

%h3{:name => 'confirm-account-information'} Как работает система подтвержения личности для преподавателей?
%p
  У преподавателей есть 3 состояния подтверждения личности: неподтверждённый, подтверждённый
  частично и полностью подтверждённый. Преподавател с неподтверждённым аккаунтом не может подписываться на
  дисципилины и создавать опросы (тем не менее функции вроде личных сообщений ему доступны). Подтверждение
  аккаунта производится в течении двух суток. После проверки модератором совпадения данных о преподавателе,
  аккаунту устанавливается статус "частично подтвержден". Преподаватель с частично подтверждённым аккаунтом
  имеет возможность пользоваться всеми функциями, доступными для преподавателя. 