%h1#page-title= t('titles.faq')

#faq-block
  %p.question Что это за сайт?
  %p.answer Feedback++ — это система обратной связи студентов с преподавателями. Студенты могут оставлять свои мнения о качестве преподавания, а возможность сохранить анонимность гарантирует объективность отзывов.

  %p.question Как мне зарегистрироваться в системе?
  %p.answer Регистрация очень простая: нажмите пункт меню «Регистрация», выберите тип создаваемого аккаунта (студент или преподаватель) и заполните регистрационную форму. Мы позаботились о вашем удобстве, поэтому, если вы не хотите предоставлять личные данные, для регистрации студенческого аккаунта достаточно ввести только логин и пароль.

  %p.question У вас действительно простая регистрация. Не значит ли это, что студенты могут регистрироваться от имени преподавателей?
  %p.answerНет. Для преподавательских аккаунтов действует система подтверждения, поэтому вы можете быть уверенны, что все зарегистрированные преподаватели — те, за кого себя выдают.

  %p.question Где я могу изменить введённые при регистрации данные?
  %p.answer Все изменения осуществляются в личном кабинете пользователя. Чтобы изменить данные, нажмите на ссылку «Профиль» и выберите «Редактировать данные».

  %p.question Как я могу связаться с другим пользователем?
  %p.answer После регистрации вы сможете зайти в раздел «Личные сообщения», и написать любому другому обладателю аккаунта — будь то студент, преподаватель, модератор или администратор.

  %p.question Могу ли я пользоваться системой Feedback++ со смартфона?
  %p.answer Да. Вы можете пользоваться сайтом с любых мобильных устройств, поддерживающих доступ в Интернет. Если же на вашем устройстве установлена ОС Android, вы можете скачать наше мобильное приложение.