%h1#page-title= t('titles.index')

- if logged?
  Вы вошли, какая удача. Все очень рады вас видеть.
- else
  Вы не авторизированы в системе. Тем не менее, вы можете
  = link_to "войти", :login
  %span или
  = link_to "зарегистрироваться", :register