- content_for :title, t('.title')

.block.brd
  = block_title t(".title"), "spec.png"
  .block-content
    - unless @specialties.empty?
      %ul.compact
        - @specialties.each do |specialty|
          %li= link_to specialty.name, specialty_path(specialty.id)
    - else
      %p= t('.empty')
      
  - if can_admin?
    .block-buttons
      .right
        = btn_link t('.create_link'), :new_specialty, true, 'green'
      .cf