%table{:style => 'width: 100%'}
  %tr
    %th{:width => '60%'} Заголовок
    - if @type == 'inbox'
      %th{:width => '20%'} Отправитель
    - elsif @type == 'outbox'
      %th{:width => '20%'} Получатель
    %th{:width => '20%'} Дата отправления
  - @messages.each do |message|
    %tr.message{:id => message.read ? 'read' : 'unread'}
      %td= link_to(message.title, read_message_path(message.id))
      - if @type == 'inbox'
        %td= user_login(message.sender_id)
      - elsif @type == 'outbox'
        %td= user_login(message.receiver_id)
      %td= message.sendtime.strftime('%e.%m.%Y, %H:%M')