%h1#page-title Личные сообщения

%ul#filter
  %li= link_to "Входящие", :messages_inbox
  %li= link_to "Исходящие", :messages_outbox

= render :partial => 'message_list', :locals => { :messages => @messages }