%h1#page-title= t("titles.departament_index")

- unless @departaments.empty?
  %ul.square-list
    - @departaments.each do |departament|
      %li= link_to departament.name, departament_path(departament.id)
- else
  .message-box.bred Информация о кафедрах ещё не была загружена в систему.

- if logged? && can_admin?
  %hr/
  = link_to "Добавить кафедру", :new_departament