.block.brd
  = block_title t(".title"), "depart.png"
  .block-content
    - unless @departaments.empty?
      %ul.compact
        - @departaments.each do |departament|
          %li= link_to departament.name, departament_path(departament.id)
    - else
      %p= t('.empty')
      
  - if can_admin?
    .block-buttons
      .right
        = btn_link t('.create_link'), :new_departament, true, 'green'
      .cf