%h1#page-title= t('.title')

- unless @lecturers.empty?
  %ul
    - @lecturers.each do |lecturer|
      %li= link_to lecturer.get_full_name, profile_path(lecturer.user.login)
- else
  .message-box.bred= t('.no_records')