%h1#page-title= t('titles.departament_subjects')

- unless @subjects.empty?
  %ul
    - @subjects.each do |subject|
      %li= link_to subject.name, subject_path(subject.id)
- else
  .message-box.bred Дисциплин на данной кафедре нет