.block
  = block_title t('.title'), "my_account.png"
  .block-content
    - unless exists_admin_account?
      .t-center
        = link_to t('.create_admin'), :create_admin, class: 'strong c-red'
      %hr.dashed/
    - if logged?
      = render partial: 'layouts/sidebar_blocks/account_logged'
    - else
      = render partial: 'layouts/sidebar_blocks/account_not_logged'