%h1#page-title Доступ запрещен, тобишь ошибка 403

%p — Я запретил общественный показ! — с расстановкой проговорил владыка. — И предупредил, чтобы вы не вмешивались в дела нашей планеты! … Я запретил показывать кому бы то ни было!
%p — На это не имеет право ни одно государство, ни одна планета во вселенной. Священный долг каждого из нас — нарушать такое беспримерное угнетение. Кто смеет закрывать мыслящему существу путь к познанию мира? … когда в Великом Кольце обнаруживают государство, закрывающее своим людям путь к знанию, то такое государство разрушают. Это единственный случай, дающий право на прямое вмешательство в дела чужой планеты.
%p — Может ли судить какое-то там Кольцо о конкретном вреде или пользе в чужой жизни! — в бешенстве крикнул Чойо Чагас.
%p — Не может. Но запрет познавать искусство, науки, жизнь других планет недопустим.