- content_for :title, "Ошибка 500: Ошибка сервера"

.block.brd
  = block_title "Ошибка сервера", "http_status_not_found.png"
  .block-content
    .t-center
      %h2 Ошибка сервера
      %h1 500
      %p Сообщите об этом администратора
  .block-buttons
    = btn_link "Вернуться на главную", :root, true, 'blue'