.block.brd
  = block_title t(".title"), "spec.png"
  .block-content
    - unless @subjects.empty?
      %ul.compact
        - @subjects.each do |subject|
          %li= link_to subject.name, subject_path(subject.id)
    - else
      %p= t('.empty')
  .block-buttons
    .right
      = btn_link t('.create_link'), :new_subject, true, 'green'
    .cf