$content-width: 950px;

.left { float: left; }
.right { float: right; }
.inline { display: inline; }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana;
}

ul {
    list-style-type: none;
}

input, select {
    padding: 3px;
    font-family: Verdana;
    border: 1px solid #ddd;
}

input {
    width: 300px;
}

input:hover {
    border: 1px solid #bbb;
}

input:focus {
    outline: none;
    border: 1px solid #888;
}

p {
    text-align: justify;
    margin-bottom: 6px;
}

form label {
    display: block;
    padding-bottom: 3px;
}

form p.form-field {
    padding-bottom: 10px;
}

#header {
    width: 100%;
    height: 30px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}

#header #headline {
    float: left;
}

#header #headline p {
    padding-left: 10px;
    padding-top: 4px;
    font-size: 20px;
    font-weight: bold;
}

#header #headline p a {
    text-decoration: none;
    color: #888;
}

#header #menu {
    float: right;
    padding-right: 10px;
}

#header #menu ul {
    list-style-type: none;
}

#header #menu ul li {
    float: left;
    padding-top: 6px;
    padding-left: 20px;
    font-size: 14px;
}

#header #menu ul li a {
    text-decoration: none;
    color: #a1a1a1;
}

#header #menu ul li a:hover {
    color: #333;
}

#header #menu ul li #search_string {
    height: 10px;
    width: 150px;
    color: #bbb;
}

#content-box {
    width: $content-width;
    margin-right: auto;
    margin-left: auto;
    min-height: 500px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#content {
    padding: 10px;
}

#content h1#page-title {
    font-size: 28px;
    padding-left: 25px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #dedede;
    margin-bottom: 10px;
}

#footer {
    width: $content-width;
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    background-color: #ddd;
    border-top: 1px solid #aaa;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 10px
}

#footer p {
    font-size: 12px;
    padding-top: 5px;
}

#footer p#left-text {
    float: left;
    padding-left: 5px;
}

#footer p#right-text {
    float: right;
    padding-right: 5px;
}

.message-box {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    border: 1px solid;
}

.bred {
    background-color: #ffcccc;
    border-color: #ffaaaa;
}

.field_with_errors > input {
    background-color: #ffdddd;
}