$content-width: 950px

@mixin transition($transition-property, $transition-time, $method)
  -webkit-transition: $transition-property $transition-time $method
  -moz-transition: $transition-property $transition-time $method
  -ms-transition: $transition-property $transition-time $method
  -o-transition: $transition-property $transition-time $method
  transition: $transition-property $transition-time $method

.left
  float: left

.right
  float: right

.inline
  display: inline

.center
  margin-right: auto
  margin-left: auto

.tcenter
  text-align: center

.hidden
  display: none
  
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s,
samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

h1, h2, h3, h4, h5, h6
  font-weight: normal

body
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana
  font-size: 100%
  background-image: image-url("pattern.png")

ol, ul
  list-style-position: inside

ul
  list-style-type: square

q
  quotes: none

hr
  margin-top: 10px
  margin-bottom: 10px
  color: #aaa
  background-color: #aaa
  height: 1px
  border: 0

blockquote:before, blockquote:after,q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0
  background-color: whiteSmoke
  border-radius: 6px

table th, table td
  font-size: 14px
  padding-left: 20px
  padding: 3px

table th
  color: #666
  font-style: normal
  font-weight: bold
  text-align: left
  background-color: #eee

table td
  line-height: 20px
  color: #555
  border-bottom: 1px solid #fff
  background-color: #f2f2f2
  border-top: 1px solid #fff

a
  text-decoration: none
  color: #0000ff
  &.active
    color: #448888 !important
    font-weight: bold

.form-element
  @include transition(all, 0.1s, linear)
  font-family: Calibri
  font-size: 14px
  border: 1px solid #ccc
  color: #444
  border-radius: 5px
  padding: 6px
  &:hover
    border-color: #bbb
    box-shadow: 0 0 5px rgba(180, 180, 180, 0.5)
  &:focus
    outline: none

.button
  @extend .form-element
  display: inline
  background-color: #eee
  cursor: pointer

.bg-lgreen
  background-color: #ddffdd !important

.bg-lred
  background-color: #ffdddd !important


input
  &[type="text"], &[type="password"], &[type="submit"]
    @extend .form-element
  &[type="submit"]
    @extend .button

select
  @extend .form-element

textarea
  @extend .form-element
  font-size: 16px

form
  label
    font-size: 14px
    color: #555
    display: block
    padding-bottom: 3px

p
  text-align: justify
  margin-bottom: 6px

form p.form-field
  padding-bottom: 10px

#header
  width: 100%
  height: 30px
  background-color: #000
  border-bottom: 1px solid #ddd
  box-shadow: 0 6px 6px -2px #aaa
  #headline 
    float: left
    padding-left: 10px
    p
      font-size: 24px
      font-weight: bold
      font-family: "Calibri"
      text-transform: uppercase
      letter-spacing: 5px
      a
        text-shadow: 0 0 1px #9999ff, 0 0 2px #6666ff
        color: #9999ff
        @include transition(all, 0.3s, linear)
        &:hover
          text-shadow: 0 0 1px #99ff99, 0 0 2px #66ff66
          color: #99ff99
  #menu
    float: right
    padding-right: 10px
    ul
      list-style-type: none
      li
        float: left
        padding-left: 20px
        font-size: 14px
        padding-top: 6px
        a
          text-decoration: none
          color: #ddd
          @include transition(all, 0.1s, linear)
          &:hover
            color: #f2f2f2
            text-shadow: 0 0 9px #fff
          &.active
            color: #77ff77 !important
            font-weight: normal

#content-box
  width: $content-width
  @extend .center
  min-height: 500px
  border-left: 1px solid #ddd
  border-right: 1px solid #ddd
  background-color: #f7f7f7

#content
  padding: 10px
  h1#page-title
    font-size: 28px
    font-family: "Helvetica"
    padding-left: 20px
    padding-bottom: 3px
    border-bottom: 1px dashed #dedede
    margin-bottom: 10px

#footer
  width: $content-width
  @extend .center
  height: 30px
  background-color: #eee
  border: 1px solid #ddd
  margin-bottom: 10px
  p
    font-family: "Trebuchet MS"
    font-size: 14px
    padding-top: 5px
    &#left-text
      float: left
      padding-left: 5px
      font-weight: bold
      #links a
        font-weight: normal
        color: #aaa
        padding-left: 8px
    &#right-text
      float: right
      padding-right: 5px

.message-box
  margin-left: auto
  margin-right: auto
  padding: 10px
  margin-top: 10px
  margin-bottom: 10px
  width: 80%
  border: 1px solid
  font-size: 14px

.bred
  background-color: #ffdddd
  border-color: #ffaaaa

.field_with_errors > label
  color: #ff3333

#profile-login
  font-size: 24px
  color: #888
  padding-left: 16px
  text-align: center
  padding-bottom: 10px

.profile-field
  padding: 5px


.pagination
  background: white
  cursor: default
  margin: 10px
  a, span, em
    padding: 0.2em 0.5em
    display: block
    float: left
    margin-right: 1px
  .disabled
    color: #999999
    border: 1px solid #dddddd
  .current
    font-style: normal
    font-weight: bold
    background: #2e6ab1
    color: white
    border: 1px solid #2e6ab1
  a
    text-decoration: none
    color: #105cb6
    border: 1px solid #9aafe5
    &:hover, &:focus
      color: #000033
      border-color: #000033
  .page_info 
    background: #2e6ab1
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    b
      color: #000033
      background: #6aa6ed
      padding: 0.1em 0.25em
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  * html &
    height: 1%
  *:first-child + html &
    overflow: hidden

ul#filter
  border: 1px solid #ccc
  padding: 4px
  margin-bottom: 15px
  list-style-type: none
  text-align: center
  li
    display: inline
    padding-left: 20px
    a
      color: #888888

tr.message
  &#unread > td
    background-color: #ffcf73
    a
      color: #111
      font-weight: bold
  &#read > td
    background-color: #dddddd
    a
      color: #333


#unread-messages-count
  color: #ffff00
  font-weight: bold

#create_admin_account_link
  color: #ff0000 !important
  font-weight: bold

#faq-block
  .question
    font-size: 18px
    font-weight: bold
    color: #444
  .answer
    padding-bottom: 20px
    color: #555
    text-align: left
    font-size: 14px

#add-comment-form
  display: none

#comment-block
  h1#title
    font-size: 18px
    font-weight: bold
  div.comment
    border: 1px solid #ccc
    padding: 7px
    margin-bottom: 10px
    p.title
      span.left-c
        float: left
        font-weight: bold
        color: #555
        a
          color: #222
      span.right-c
        float: right
        font-weight: normal
        color: #aaa
    p.body
      border-top: 1px dotted #ccc
      padding-top: 5px
      margin-top: 3px
    &.positive
      background-color: #e5ffe5
    &.negative
      background-color: #ffe5e5