.switch .slide-button, .toggle p span {
    display: none;
}

@media only screen {
    .toggle {
        position: relative;
        padding: 0;
        margin-left: 100px;
    }

    .toggle label {
        position: relative;
        z-index: 3;
        
        display: block;
        width: 100%;
    }

    .toggle input {
        position: absolute;
        opacity: 0;
        z-index: 5;
    }
    
    .toggle p {
        position: absolute;
        left: -100px;
        width: 100%;
        margin: 0;
        padding-right: 100px;
        text-align: left;
    }
    
    .toggle p span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 100px;
        text-align: center;
    }
    
    .toggle p span:last-child {
        left: 50%;
    }

    .toggle .slide-button {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        
        display: block;
        width: 50%;
        height: 100%;
        padding: 0;
    }

    .switch {
        position: relative;
        padding: 0;
    }
    
    .switch input {
        position: absolute;
        opacity: 0;
    }
    
    .switch label {
        position: relative;
        z-index: 2;
        float: left;
        width: 50%;
        height: 100%;
        margin: 0;
        text-align: center;
    }

    .switch .slide-button {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        z-index: 1;
        width: 50%;
        height: 100%;
    }

    .switch input:last-of-type:checked ~ .slide-button {
        left: 50%;
    }

    /* Switch with 3 items */
    .switch.switch-three label,
    .switch.switch-three .slide-button {
        width: 33.3%;
    }

    .switch.switch-three input:checked:nth-of-type(2) ~ .slide-button { 
        left: 33.3%;
    }

    .switch.switch-three input:checked:last-of-type ~ .slide-button {
        left: 66.6%;
    }
    
    /* Switch with 4 items */
    .switch.switch-four label,
    .switch.switch-four .slide-button {
        width: 25%;
    }

    .switch.switch-four input:checked:nth-of-type(2) ~ .slide-button {  
        left: 25%;
    }
    
    .switch.switch-four input:checked:nth-of-type(3) ~ .slide-button {  
        left: 50%;
    }

    .switch.switch-four input:checked:last-of-type ~ .slide-button {
        left: 75%;
    }
    
    .switch.switch-five label, .switch.switch-five .slide-button {
        width: 20%;
    }

    .switch.switch-five input:checked:nth-of-type(2) ~ .slide-button {  
        left: 20%;
    }
    
    .switch.switch-five input:checked:nth-of-type(3) ~ .slide-button {  
        left: 40%;
    }
    
    .switch.switch-five input:checked:nth-of-type(4) ~ .slide-button {  
        left: 60%;
    }

    .switch.switch-five input:checked:last-of-type ~ .slide-button {
        left: 80%;
    }

    .toggle, .switch {
        display: block;
        height: 30px;
    }
    
    .switch *, .toggle * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .switch .slide-button, .toggle .slide-button {
        display: block;
        
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    
    .toggle label, .toggle p, .switch label {
        line-height: 30px;
        vertical-align: middle;
    }
    
    .toggle input:checked ~ .slide-button {
        right: 50%;
    }
    
    .toggle input:focus ~ .slide-button,
    .switch input:focus + label {
        outline: 1px dotted #888;
    }
    
    .switch, .toggle {
        -webkit-animation: bugfix infinite 1s;
    }
    
    @-webkit-keyframes bugfix {
        from { position: relative; } to { position: relative; }
    }
     
    .candy {
        background-color: #ddd;
        color: #333;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px 1px #eee; 
        border-radius: 3px; 
        box-shadow: inset 0 2px 6px rgba(150, 150, 150, 0.3), 0 1px 0px rgba(255, 255, 255, 0.2);
    }

    .candy input:checked + label {
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }
        
    .candy .slide-button {
        border: 1px solid #333;
        background-color: #65de1b;
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
        background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
        background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
        background-image:      -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
        background-image:         linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
        border-radius: 3px;
    }

    .candy p {
        color: #333;
        text-shadow: none;
    }

    .candy span {
        color: #fff;
    }

    .candy.blue .slide-button {
        background-color: #38a3d4;
    }

    .candy.yellow .slide-button {
        background-color: #f5e560;
    }
    
}